*.pyc
.*.swp
.*.swo
*.dSYM
*.plist
*.o

.vscode/
.mypy_cache
.ropeproject
.cache
run_unit_tests

compile_commands.json
adventofcode/2022/9/follow_tail
thanksgiving_words/thanksgiving_words
adventofcode/2022/8/count_visible_trees
adventofcode/2022/5/move_stacks
adventofcode/2022/25/compute_snafu
